@charset "UTF-8";
@font-face {
    font-family:'allblack' ;
    src: url('fonts/Bouncy-Black-PERSONAL_USE_ONLY.otf') format('opentype'), url('fonts/Bouncy-Black-PERSONAL_USE_ONLY.otf') format('truetype');
}

@font-face {
    font-family:'Bouncy' ;
    src: url('fonts/Bouncy-PERSONAL_USE_ONLY.otf') format('opentype'), url('fonts/Bouncy-PERSONAL_USE_ONLY.otf') format('truetype');
}

@font-face {
    font-family:'Bouncy thin' ;
    src: url('fonts/Bouncy-Thin-PERSONAL_USE_ONLY.otf') format('opentype'), url('fonts/Bouncy-Thin-PERSONAL_USE_ONLY.otf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-image: linear-gradient(to right, #ede65099, #991c80b2);
}

main {
    background-color: white;
    margin: auto;
    border-radius: 3%;
    box-shadow: 5px 5px 17px #991c80b2;
    width: 650px;
    height: 500px;;
}

h1 {
    font-family: 'Bouncy thin', sans-serif;
    text-shadow: 1px 1px 3px #991c80b2;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-family: 'Bouncy thin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    text-shadow: 1px 1px 3px #991c80b2;
    text-align: center;
}

p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    text-shadow: 0.2px 0.2px 1px #000;
    text-align: justify;
    margin: 3%;
}