@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #BFBFBF, #8AA6A3);
}

main{
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #475353a4; 
    width: 650px;
    padding: 2%;
    margin: auto;
    
}

h1{
    color: #127369;
    text-align: center;
    text-shadow: 1px 1px 2px #0d4b45;
}

h2{
    color: #10403B;
}

p{
    text-align: justify;
}

