@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(188, 219, 179);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(112, 143, 108);
}

header > h1 {
    padding: 10px;
    font-size: 2.2em;
    text-align: center;
}

menu {
    display: block;

}

menu, ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    background-color: rgb(72, 91, 70);
    color: white;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid rgb(7, 37, 1);
}

menu > ul > li > a:hover {
    background-color: rgb(117, 133, 115);
}

main {
    margin: auto;
    width: 90vw;
    padding: 15px;
    background-color: rgb(227, 233, 227);
}

article {
    line-height: 1.5;
}